<configuration debug="false" scan="false">
    <contextName>kr.gsc.gold_cave.ws</contextName>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender" >
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} ${PID} [%15.15thread] - %-5level %45logger{45} %4.4line : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>

        <file>logs/gold_cave.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/gold_cave-%d{yyyyMMdd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} ${PID} [%12.12thread] - %-5level %42logger{42} %4.4line : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log for Framework -->
    <logger name="org.apache" level="info"/>
    <logger name="org.springframework" level="info" />

    <!-- Log for Application -->
    <logger name="kr.gsc.gold_cave.ws" level="trace" />

    <!-- Log for ROOT -->
    <root level="error">
        <appender-ref ref="console" />
        <appender-ref ref="logfile" />
    </root>
</configuration>
